# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Typescript
*.tsbuildinfo

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous
*.tgz
*.zip
*.tar

# Maven target folder (and any JAR files inside)
target/
target/*.jar
